//Font sizes
$fs-36: 36px;
$fs-24: 24px;
$fs-16: 16px;
$fs-12: 12px;

//Colors
$color-black: #000000;
$color-gray: #d1d5db;
$color-gray-secondary: #9ca3af;
$color-blue: #3b82f6;
$color-blue-secondary: #0ea5e9;
$color-blue-light: #f0f9ff;
$color-white: #ffffff;
$color-error: #ea5e5e;
$color-purple: #6366f1;

//Spacings
$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 16px;
$spacing-4: 32px;

//Heights
$height-small: 32px;
$height-medium: 44px;

//Border radius
$border-radius-1: 8px;
