@import "@/styles/_variables";

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $spacing-4;
  height: calc(100vh - 200px);

  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }

  .not-found__link {
    text-decoration: none;
    background-color: $color-blue;
    color: $color-white;
    padding: $spacing-2 $spacing-3;
    border-radius: $border-radius-1;

    &:hover {
      background-color: #2563eb;
    }
  }
}
